assets/admin.js
assets/admin.css

assets/bundle.js
assets/bundle.css

assets/login.js
assets/login.css

assets/generated

uploads/docs/**/*
uploads/images/**/*

!uploads/docs/_README
!uploads/images/_README

vendor/config.json
vendor/vendor
vendor/resources.json
vendor/errors/**/*
!vendor/errors/_readme
vendor/usercfg/lang/error.txt

vendor/cache

webpack/node_modules
webpack/mdc/node_modules

# Because Word
~$README.docx