.dialog-event-title {
    font-size: 2em;
}

.dialog-event-info {
    font-weight: bold;

    display: inline-block;
    width: 65px;
}

.dialog-event-html > p {
    background-color: transparent !important;
    color: white !important;
}